.toolbar {
    background-color: $main;
    color: #ffffff;
}

.menu-button {
    width: 30px;
    height: 30px;
}

.profile-img {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    box-shadow: 0px 0px 3px;
}

.toolbar__notifications-list {
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: $main #fff4cb;
    scrollbar-width: thin;
}

/* width */
.toolbar__notifications-list::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.toolbar__notifications-list::-webkit-scrollbar-track {
    background: #fff4cb;
}

/* Handle */
.toolbar__notifications-list::-webkit-scrollbar-thumb {
    background: $main;
}

/* Handle on hover */
.toolbar__notifications-list::-webkit-scrollbar-thumb:hover {
    background: #e9b600;
}

.toolbar__notification-item {
    padding: 15px;
    background-color: #dddddd;
    opacity: 0.5;
}

.toolbar__notification-item.no-viewed {
    background-color: #ffffff;
    opacity: 1;
}

.toolbar__notification-item.no-viewed:hover {
    background-color: #fff4cb;
    cursor: pointer;
}

.toolbar__notification-item:last-child {
    border-bottom: none;
}