{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block cssInLine %}
    <style>
        body {
            background-image: url("{{ asset('resources/media/admin/login-background.jpg') }}");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-wrapper form {
            background-color: rgba(255, 166, 0, 0.336);
            box-shadow: 0px 0px 5px;
            height: 50%;
            padding: 50px 20px;
            text-align: center;
            border-radius: 15px;
        }

        .form-wrapper form button{
            background-color: rgb(255, 166, 0);
            color: #ffffff;
            margin-top: 20px;
        }

        .form-wrapper form button:hover{
            background-color: rgb(226, 147, 0);
            color: #ffffff;
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <form action="{{ path('app_login') }}" method="post">
            {% include "components/flash_messages/flash_message.html.twig" with {'type': 'error'} %}

            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email"/>
            <input type="password" id="password" name="_password" placeholder="Password"/>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn">Entrar</button>
        </form>
    </div>
{% endblock %}