.flash-message {
    padding: 5px 10px;
    width: 100%;
    border-left-width: 5px;
    border-left-style: solid;
    color: $light;
    margin: 10px 0;
    font-size: 0.9em;
}

.flash-success {
    border-left-color: #007e32;
    background-color: $success;
}

.flash-warning {
    border-left-color: #b98316;
    background-color: $warning;
}

.flash-error {
    border-left-color: #9b1414;
    background-color: $danger;
}

.form-error {
    border: 1px solid $danger;
    background-color: #ffc8c8;
}