// IMPORT SCSS
@import './_vars';
@import './components/flash-message.scss';
@import './components/admin_layout/sidenav.scss';
@import './components/admin_layout/toolbar.scss';

.form-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper > form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}