// CSS
body {
    background-color: #f5f5f5;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

i.fa, i.fas {
    font-family: 'FontAwesome' !important;
    font-style: normal !important;
}

form input, form textarea, form select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    padding: 4px 10px;
    transition: all .1s linear;
    margin: 5px 0;
}

form input:focus, form textarea:focus {
    outline: 2px solid $primary;
    outline-offset: -2px;
    // border: 3px solid #4285F4;
}

form .input-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .input-date select:nth-child(2) {
    margin: 0 5px;
}

button {
    padding: 0;
    border: none;
    margin: 0;
    background-color: inherit;
}