{% extends "base.html.twig" %}

{% block title %}Panel de control{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('admin_layout') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('admin_layout') }}
{% endblock %}

{% block body %}
    {% include "components/admin_panel/sidenav.html.twig" %}

    {% include "components/admin_panel/profile_bar.html.twig" %}

    {% include "components/admin_panel/toolbar.html.twig" %}

    {% block header %}
    
    {% endblock %}

    <section class="py-5">
        {% block section %}
        
        {% endblock %}
    </section>

    {% block footer %}
    
    {% endblock %}
{% endblock %}