{% include "components/flash_messages/flash_message.html.twig" with {'type': 'error'} %}

{{ form_start(form) }}
    {% for field in form.children %}
        {{ form_widget(field, {'attr': {'class': (error_origin is defined and error_origin == field.vars.name) ? 'form-error'} }) }}
    {% endfor %}

    <button class="btn btn-primary mt-4">{{ button_label|default('Añadir') }}</button>
{{ form_end(form) }}
