<form method="post" action="{{ path('app_user_block', {'id': user.id}) }}" onsubmit="return confirm('¿Estás seguro que deseas {{ user.isActive ? 'bloquear' : 'desbloquear' }} este usuario?');">
    <input type="hidden" name="_token" value="{{ csrf_token('block' ~ user.id) }}">
    <button class="text-primary">{{ user.isActive ? 'bloquear' : 'desbloquear' }}</button>
</form>
