<form method="post" action="{{ path('app_user_block', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to block this user?');">
    <input type="hidden" name="_token" value="{{ csrf_token('block' ~ user.id) }}">
    <button>{% if(user.isActive) %}bloquear{% else %}desbloquear{% endif %}</button>
</form>
