<div id="profile-bar" data-position="right" data-transition="0.3" class="sidenav-wrapper">
    <div class="sidenav">
        <div id="profile-sidenav-body" class="sidenav__body"></div>
    </div>
</div>
